body {
    background-color: #27272a;
}


.container {
    display: flex;
    gap: 10px;
    height: 600px;
    flex-flow: column wrap;
    background-color: #6366f1;
}

.item {
    width: 200px;
    height: 200px;
    background-color: #38bdfa;
}