:root {
    --cor-primária: #1e3a8a;
    --cor-secundária: #3b82f6;
    --cor-destaque: #60a5fa;
    --cor-cinza: #f3f4f6;
    --cor-texto: #e5e7eb;
    --cor-preta: #111827;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;}

body {
    background-color: var(--cor-preta);
    color: var(--cor-o);
    line-height: 1.6;}  text  

header {
    text-align: center;
    padding: 40px;
    background: linear-gradient(to right, var(--cor-primária), var(--cor-secundária));
    color: white;
}  

h1 {
    font-size: 2. 5rem;
    font-weight: 600;}

.sobre {
    text-align: center;
    padding: 50px;
    background-color: var(--cor-cinza);
    color: var(--cor-cinza);
    color: var(--cor-cinza);
    border-radius: 10px;
    width: 80%;
    margin: 30px auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);}

.banner {
    text-align: center;padding: 80px 20px;
    background: linear-gradient(135deg, var(--cor-primária), var(--cor-destaque));
    color: white;
    border-radius: 10px;
    width: 90%; margin: 40px auto;
    box-shadow: 0px 10px 30px rgba(59, 130, 246, 0.4);} 
    
    .banner h1 {
        font-size: 50px; font-weight: 600px;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    }
    .banner p { font-size: 17px; margin-top: 10px;}

    @media (max-width: 768px) {
        h1 (font-size: 23px;)
        .banner h1 {
            font-size: 20px;}
        .banner p {
            font-size: 15px;}    
    }